{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <div style="padding-top:90px;"></div>
        <h1>Nos Montres</h1>
        {% for produit in produits%}
        <div class="d-flex flex-row mb-3">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('/images/produits/'~ telephone.produit.image) }}" class="card-img-top img-fluide" style="width:30%" alt="img">
                <div class="card-body">
                    <h5 class="card-title">{{produit.nom}}</h5>
                    <p class="card-text"></p>
                    <p>{{produit.prix}}$</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}